Builder/Builder.App/BuildUtils/1.9/SmiDirectoryOutput.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.raf.com/Smi" xmlns:RAF="http://www.raf.com/Smi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DirectoryResult">
    <xs:complexType>
      <xs:choice>
        <xs:element name="ParseFailure">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Fields">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Field">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element name="ParsedValue">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Word">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="Glyph">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element maxOccurs="unbounded" name="Pos">
                                              <xs:complexType>
                                                <xs:attribute name="chr"  type="RAF:chrType"     use="required" />
                                                <xs:attribute name="conf" type="xs:unsignedByte" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CanonicalValue" maxOccurs="unbounded" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="matchConf" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="lineIndex" type="xs:unsignedByte" use="optional" />
                        <xs:attribute name="startWordPos" type="xs:unsignedByte" use="optional" />
                        <xs:attribute name="endWordPos" type="xs:unsignedByte" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="callTimeMs" type="xs:unsignedLong" use="optional" />
            <xs:attribute name="yieldCount" type="xs:unsignedLong" use="optional" />
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Match">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ParsedAddr" type="xs:string" />
              <xs:element minOccurs="0" name="ParsedNoise">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Noise">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="name" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="Record">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StandardizedAddr" type="xs:string" />
                    <xs:element name="TransportValue">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="name" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Outputs">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Output">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="name" type="xs:string" use="required" />
                                  <xs:attribute name="rangeType" type="RAF:RangeType" use="optional" />
                                  <xs:attribute name="rangeLow" type="xs:string" use="optional" />
                                  <xs:attribute name="rangeHigh" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Fields">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Field">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="ParsedValue">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="Word">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element maxOccurs="unbounded" name="Glyph">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="Pos">
                                                    <xs:complexType>
                                                      <xs:attribute name="chr"  type="RAF:chrType"     use="required" />
                                                      <xs:attribute name="conf" type="xs:unsignedByte" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="CanonicalValue" maxOccurs="unbounded" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="name"         type="xs:string"       use="required" />
                              <xs:attribute name="matchConf"    type="xs:unsignedByte" use="required" />
                              <xs:attribute name="lineIndex"    type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="startWordPos" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="endWordPos"   type="xs:unsignedByte" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="isFinal"     type="xs:boolean"       use="required" />
            <xs:attribute name="levelOfSort" type="xs:unsignedByte"  use="required" />
            <xs:attribute name="pattern"     type="xs:string"        use="required" />
            <xs:attribute name="patternType" type="xs:string"       use="optional" />
            <xs:attribute name="callTimeMs"  type="xs:unsignedLong" use="optional" />
            <xs:attribute name="yieldCount"  type="xs:unsignedLong" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute name="fileName"       type="xs:string"      use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:simpleType name='chrType'>
    <xs:restriction base='xs:string'>
      <xs:length value='1' fixed='true'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RangeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Odd" />
      <xs:enumeration value="Even" />
      <xs:enumeration value="Both" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>